{
	order rewrite before reverse_proxy
	order rh_identity_transform before respond
	cache
	admin off
}

{$HCC_ENV}.foo.redhat.com:{$PROXY_PORT} {
	log default {
		output stdout
		format transform "{common_log}"
	}

	@html_fallback {
		header Accept *text/html*
		not path_regexp .*\/(silent-check-sso\.html)$
	}

	{$LOCAL_ROUTES}

	handle {
		cache
		reverse_proxy {$HCC_ENV_URL} {
			header_up Host {http.reverse_proxy.upstream.hostport}
			header_up Accept-Encoding "gzip;q=0,deflate,sdch"
			header_up -Origin
		}
	}

	tls internal {
		on_demand
	}
}
